@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2% 6%;
}
.logo {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#cloud {
  width: 50px;
}
.nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3%;
  width: 50%;
}

button {
  width: 160px;
  height: 50px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 16px;
}

#nav_btn1 {
  background-color: white;
  border: 1px solid black;
}

#nav_btn2 {
  background: linear-gradient(to bottom, #d88407, #ff9900);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2% 6%;
}

.hero_img img {
  height: 700px;
  width: 700px;
}
.hero_img {
  width: 30%;
}

.hero_text {
  width: 70%;
  font-size: 25px;
  color: #213bb0;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.hero_text h1 {
  font-size: 60px;
  margin-bottom: 20px;
  letter-spacing: 7px;
  line-height: 1.1;
}


.service_flex {


  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
#services_title {
  color: white;
  font-size: 40px;
  margin: 2% 0%;
  font-weight: 600;
}
.container{
    background-color: #213bb0;
      height: 570px;
          padding:5%;
     border-top-left-radius: 56px;
  border-top-right-radius: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.service1 {
  background-color: white;
  padding: 24px 30px 24px 30px;
  height: 400px;
  width: 450px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-transform: capitalize;
  letter-spacing: 6px;
}

.white_space {
  height: 300px;
}

#footer_btn {
  background: linear-gradient(to bottom, #d88407, #ff9900);
}

footer {
  background-color: #213bb0;
  color: white;
  padding: 5%;
}
#footer_cloud {
  width: 90px;
}
.footer_flex {
  display: flex;
  justify-content: space-around;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

footer ul li {
  list-style: none;
  margin-bottom: 20px;
}

#grey_text {
  color: #8b8a8a;
}

.footer_sec1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer_logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {

  *{
    font-size: 13px;
  }
  .hero h1{
    margin-top: 20px;
    font-size:17px;
    align-items: center;
  }
  
  .container{
    justify-content: center;
    align-items: center;
    gap:20px;
    padding:10%;
    height: auto;
  }
  .service_flex{
    flex-direction: column;
    gap:20px;
  }
.service1{
  height: auto;
  width:100%;
}
#services_title{
  font-size:18px;

}
header{
  flex-direction: column;
  gap:15px;
  align-items: center;
}
  .nav{ 
    flex-wrap:wrap;
    gap:10px;
  }
   .hero{ 
    flex-wrap:wrap;
    gap:10px;
   
  }
  .hero img{ 
    height: auto;
    width: 100%;
  }

.footer_flex{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
header, .nav{
  flex-direction: column;
  gap:15px;
  align-items: center;
  margin-bottom: 5%;
}
.logo{
  justify-content: center;
}

.hero{
flex-direction: column;
  gap:10px;
  justify-content: center;
  align-items: center;
}
.hero_text{
    font-size: 13px;
}
.hero h1{
  font-size: 15px;
}
.hero img{
  height:400px;
}

.container{
    justify-content: center;
    align-items: center;
    gap:20px;
    padding:10%;
    height: auto;
  }
  .service_flex{
    flex-direction: column;
    gap:20px;
  }

  .footer_flex{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }
  .footer_sec1{
    margin-bottom: 10%;
  }
}
